<% include ../partials/header %>
<% include ../partials/navbar %>

<div class="container belowNav">
    <div class="row">
        <div class=col>
                <form action="/spots" enctype="multipart/form-data" method="POST">

                        <div class="form-group row">
                            <div class="col-12">
                                <label for="spotName">Spot Name</label>
                                <input type="text" name="spotName" id="spotName" class="form-control">
                            </div>
                            <div class="col-12">
                                <label for="addLine1">Address</label>
                                <input required type="text" name="addr1" id="addLine1" class="form-control">
                            </div>
                            <div class="col-6">
                                <label for="city">City</label>
                                <input required type="text" name="city" id="city" class="form-control" aria-describedby="locHelp">
                                <small id="locHelp" class="form-text text-muted">Can't find a street address? <a href="#">Try Lattitude and Longitude!</a></small>
                            </div>
                            <div class="col-6">
                                <label for="zip">Zip Code </label>
                                <input required type="text" name="zip" id="zip" class="col-2 form-control" >
                                
                            </div>
                            <div class="col">
                                <label for="spotImg">Upload a photo</label>
                                <input required type="file" id="spotImg" class="form-control" name="spotImg" aria-describedby="imgHelp">
                                <small class="form-text text-muted" id="imgHelp">This is the default image shown in relation to your spot. Make it count!</small>
                            </div>  
                            <div class="col-4">
                                <label for="overallRating">Overall Rating:</label>
                                <select name="overallRating">
                                    <% for(var i = 0; i <= 5; i++){ %>
                                        <option id="overallRating" value="<%= i %>"><%= i %></option>
                                    <% } %>
                                </select>
                            </div>
                            <div class="col-4">
                                    <label for="difficultyRating">Difficulty Rating:</label>
                                    <select name="difficultyRating">
                                        <% for(var i = 0; i <= 5; i++){ %>
                                            <option id="difficultyRating" value="<%= i %>"><%= i %></option>
                                        <% } %>
                                    </select>
                            </div>
                            <div class="col-4">
                                    <label for="privacyRating">Privacy Rating:</label>
                                    <select name="privacyRating">
                                        <% for(var i = 0; i <= 5; i++){ %>
                                            <option id="privacyRating" value="<%= i %>"><%= i %></option>
                                        <% } %>
                                    </select>
                            </div>
                            <div class="col-12">
                                <label for="desc">Description</label>
                                <textarea required class="form-control" rows="5" id="desc" name="desc"></textarea>
                            </div>
                    
                    
                            <button name="button" class="btn btn-primary" onclick="geoNewUpload()">Submit</button>
                        </div>
                </form>
            <a href="/"><p>Back to Index</p></a>
        </div>
    </div>
</div>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKSrMxv2RwqRyFbEyWuKIwlvjHAo5dfyk&callback=initMap">    
</script>
<% include ../partials/footer %>