<% include ../partials/header %>
<% include ../partials/navbar %>

<div class="container belowNav">
    <div class="row">
        <div class="col">
            <h1><%= singleSpot.name %></h1>
            <small><%= singleSpot.geo %></small>
        </div>
        <div class="col">
            <img class="smallImg" src="<%=singleSpot.mainImg%>" alt="">
            <p> <%= singleSpot.desc %></p>
        </div>
        <div class="col">
            <div id="singleMap"></div>
        </div>
        <div class="col-12">
            <% if (currentUser && singleSpot.author.id.equals(currentUser._id)){ %>
                <form action="/spots/<%=singleSpot._id%>/edit" method="POST">
                    <a href="/spots/<%=singleSpot._id %>/edit" class="btn btn-warning">Edit me</a>
                </form>
                <form action="/spots/<%=singleSpot._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete</button>
                </form>
                
                <% } %>
            <p>Overall Rating: <%=singleSpot.ratings.overall.avg %> stars.</p>
            <p><%=singleSpot.ratings.overall.votes %> votes</p>
            <p>Difficulty Rating: <%=singleSpot.ratings.difficulty.avg %> stars.</p>
            <p><%=singleSpot.ratings.difficulty.votes %> votes</p>
            <p>Privacy Rating: <%=singleSpot.ratings.privacy.avg %> stars.</p>
            <p><%=singleSpot.ratings.privacy.votes %> votes</p>

            <% if (currentUser && !currentUser.rated.toString().includes(singleSpot._id.toString())){ %>
                <form action="/spots/<%=singleSpot._id %>/rate" method="POST">
                    <select name="rating">
                        <% for(var i = 0; i <= 5; i++){ %>
                            <option value="<%= i %>"><%= i %></option>
                        <% } %>
                    </select>
                    <button class="btn btn-sm" >Rate!</button>
                </form>
                
           <% } %>
        </div>

    </div>
    <div class="row">
        <div class="col-12">
            <h3>Users who have checked in:</h3>
        </div>
            <% singleSpot.checkedIn.forEach(function(user) { %>
                <div class="col-2">
                <p><%= user.username %></p>
                </div>                                
            <% }) %>
    
    </div>
    <!-- check in  -->
    <div class="row">
        <div class="col">
            <% if (currentUser && !currentUser.checkedIn.toString().includes(singleSpot._id.toString())){ %>
                <form action="/spots/<%=singleSpot._id %>/checkin" method="POST">
                    <button class="btn btn-primary">Check in!</button>
                </form>  
            <% } else { %>

                <% if (currentUser && currentUser.checkedIn.toString().includes(singleSpot._id.toString())) { %>
                    <form action="/spots/<%=singleSpot._id %>/uncheckin?_method=PUT" method= "POST">
                        <p>You have already check in to <%= singleSpot.name %>.</p>
                        <button class="btn btn-caution">Cancel Check in.</button>
                    </form>
                <% }}  %>
                <li class="nav-item"><a class="nav-link" data-toggle="modal" href="#" data-target="#spotReview"><p>Rate!</p></a></li>

        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h3>Comments</h3>
            <% singleSpot.comments.forEach(function(comment){ %>
                <p><%=comment.content%></p>
                <small>Posted by: <%=comment.author.username %> | <%=comment.posted %></small>

            <% }) %>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <% if (currentUser){ %>
                <h3>Add a comment</h3>
                <form action="/spots/<%=singleSpot._id %>/comment/add" method="POST">
                    <textarea class="form-control" name="comment" id="comment" cols="30" rows="10"></textarea>
                    <button class="btn btn-primary btn-sm form-control">Submit</button>
                </form>
           <% } %>
        </div>
    </div>
    
</div>




<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBaJ5R-GLdIW9KPG1fQWm2LyjQC77x0Dk4&callback=initSmallMap">
</script>
<% include ../partials/spotreviewmodal %>
<% include ../partials/footer %>
