<% include ../partials/header %>
<% include ../partials/navbar %>

<div class="container belowNav">
    <div class="row">
        <div class="col">
            <h1><%= singleSpot.name %></h1>
            <small><%= singleSpot.geo %></small>
        </div>
        <div class="col">
            <img class="smallImg" src="<%=singleSpot.mainImg%>" alt="">
            <p> <%= singleSpot.desc %></p>
        </div>
        <div class="col">
            <div id="singleMap"></div>
        </div>
        <div class="col-12">
            <% if (currentUser && singleSpot.author.id.equals(currentUser._id)){ %>
                <form action="/spots/<%=singleSpot._id%>/edit" method="POST">
                    <a href="/spots/<%=singleSpot._id %>/edit" class="btn btn-warning">Edit me</a>
                </form>
                <form action="/spots/<%=singleSpot._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete</button>
                </form>
                
                <% } %>
            <p>Rating: <%=singleSpot.ratings.avg %> stars.</p>
            <p><%=singleSpot.ratings.votes %> votes</p>
            <% if (currentUser && !currentUser.rated.toString().includes(singleSpot._id.toString())){ %>
                <form action="/spots/<%=singleSpot._id %>/rate" method="POST">
                    <select name="rating">
                        <% for(var i = 0; i <= 5; i++){ %>
                            <option value="<%= i %>"><%= i %></option>
                        <% } %>
                    </select>
                    <button class="btn btn-sm">Rate!</button>
                </form>
           <% } %>
        </div>
    </div>
    
</div>


<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBaJ5R-GLdIW9KPG1fQWm2LyjQC77x0Dk4&callback=initSmallMap">
</script>

<% include ../partials/footer %>
