<% include ../partials/header %>
<% include ../partials/navbar %>

<div class="container belowNav">
    <div class="row" id="spotMain">
        <div class="col" >
            <h1><%= singleSpot.name %></h1>
            <small><%= singleSpot.geo %></small>
            <img class="img-thumbnail" src="<%=singleSpot.mainImg%>" alt="">
            <p> <%= singleSpot.desc %></p>
        </div>
        
        <div class="col">
            <div id="singleMap"></div>
            <% if (currentUser && singleSpot.author.id.equals(currentUser._id)){ %>
                <form action="/spots/<%=singleSpot._id%>/edit" method="POST">
                    <a href="/spots/<%=singleSpot._id %>/edit" class="btn btn-sm  btn-warning">Edit me</a>
                </form>
                <form action="/spots/<%=singleSpot._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-sm btn-danger">Delete</button>
                </form>
                
                <% } %>
        </div>



    </div>

    <div class="row" id="spotRating">
        <div class="col-3">
            <p>Overall Rating: <%=singleSpot.ratings.overall.avg %> stars.</p>
            <p><%=singleSpot.ratings.overall.votes %> votes</p>
        </div>
        <div class="col-3">        
            <p>Difficulty Rating: <%=singleSpot.ratings.difficulty.avg %> stars.</p>
            <p><%=singleSpot.ratings.difficulty.votes %> votes</p>
        </div>
        <div class="col-3">
            <p>Privacy Rating: <%=singleSpot.ratings.privacy.avg %> stars.</p>
            <p><%=singleSpot.ratings.privacy.votes %> votes</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <% if (currentUser) { if(!currentUser.rated.toString().includes(singleSpot._id.toString())){ %>
                <button class="btn btn-sm"data-toggle="modal" href="#" data-target="#spotReview" >Rate!</button>
            <% }else {%>
                <small>You have already rated this spot!</small>
           <% }} %>
            </div>
    </div>


    <!-- Displaying Thumbnails of images associated with Spot. -->
    <div class="row spacer" id="spotPhotos">
        <div class="col-12">
            <h3>Photos of <%= singleSpot.name %></h3>
        </div>
        <% singleSpot.uploads.forEach(function(upload){ %>
            <div class="col-3">
                <a href="<%=upload.img %>"><img class="img-thumbnail" src="<%=upload.img%>" alt="Nope"></a>
            </div>
        <% }); %>
    </div>
    <div class="row spacer" id="spotAddPhoto" >
            <div class="col-12">
                <p>Upload your own photo</p>
                <form action="/spots/<%=singleSpot.id%>/addphoto" enctype="multipart/form-data" method="POST">
                    <input type="file" name="spotPhotoUpload" id="spotPhotoUpload">
                    <button>Submit</button>
                </form>
            </div>
        </div>


    <!-- check in  -->
    <div class="row spacer">
        <div class="col-12">
            <h3>Users who have checked in:</h3>
        </div>
            <% singleSpot.checkedIn.forEach(function(user) { %>
                <div class="col-2">
                    <p><%= user.username %></p>
                </div>                                
            <% }) %>
    
    </div>
    <div class="row spacer">
        <div class="col">
            <% if (currentUser && !currentUser.checkedIn.toString().includes(singleSpot._id.toString())){ %>
                <form action="/spots/<%=singleSpot._id %>/checkin" method="POST">
                    <button class="btn btn-primary">Check in!</button>
                </form>  
            <% } else { %>

                <% if (currentUser && currentUser.checkedIn.toString().includes(singleSpot._id.toString())) { %>
                    <form action="/spots/<%=singleSpot._id %>/uncheckin?_method=PUT" method= "POST">
                        <p>You have already check in to <%= singleSpot.name %>.</p>
                        <button class="btn btn-caution">Cancel Check in.</button>
                    </form>
                <% }}  %>
                

        </div>
    </div>
    
        <!-- ======================
    Show + Add Comments
    ===================== -->
    <div class="row spacer">
        <div class="col-12">
            <h3>Comments</h3>
            <% singleSpot.comments.forEach(function(comment){ %>
                <p><%=comment.content%></p>
                <small>Posted by: <a href="/users/<%=comment.author.id%>"><%=comment.author.username %></a> | <%=comment.posted %></small>

            <% }) %>
        </div>
    </div>

    <div class="row spacer">
        <div class="col-12">
            <% if (currentUser){ %>
                <h3>Add a comment</h3>
                <form action="/spots/<%=singleSpot._id %>/comment/add" method="POST">
                    <textarea class="form-control" name="comment" id="comment" cols="30" rows="10"></textarea>
                    <button class="btn btn-primary btn-sm form-control">Submit</button>
                </form>
           <% } %>
        </div>
    </div>

    
</div>




<script defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBaJ5R-GLdIW9KPG1fQWm2LyjQC77x0Dk4&callback=initSmallMap">
</script>
<% include ../partials/spotreviewmodal %>
<% include ../partials/footer %>
